/* *********************************************************************** COMMON STYLE *********************************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-item {
    gap: 1rem;
}

.gap-item-md {
    gap: 2rem;
}

.gap-item-bg {
    gap: 3rem;
}

.text-white {
    color: white;
}

.text-grey {
    color: lightgray;
}

.font-sm {
    font-size: 0.7rem;
}

.padd-div {
    padding: 1rem;
}

.aspect-ratio {
    aspect-ratio: 1;
}

/* *********************************************************************** BAR LEFT *********************************************************************** */

#bar-left {
    background-color: black;
    width: 10rem;
}

/* *********************************************************************** BOX CONTENT *********************************************************************** */

#box-content {
    width: calc(100% - 10rem);
}

#bar-top {
    background-color: #080B12;
    width: 100%;
    height: 5rem;
}

#box-album {
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 11rem);
}

/* *********************************************************************** FOOTER *********************************************************************** */

footer {
    background-color: #282828;
    height: 6rem;
}

/* *********************************************************************** RESPONSIVE MEDIA QUERY *********************************************************************** */

/* TABLET  */
@media all and (max-width: 878px) {
    
}

/* MOBILE  */
@media all and (max-width: 639px) {
    
}

/* MOBILE SM  */
@media all and (max-width: 552px) {
    
}