/* *********************************************************************** COMMON STYLE *********************************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-item {
    gap: 1rem;
}

.gap-item-md {
    gap: 2rem;
}

.gap-item-bg {
    gap: 3rem;
}

.text-white {
    color: white;
}

.text-grey {
    color: lightgray;
}

.font-sm {
    font-size: 0.7rem;
}

.padd-div {
    padding: 1rem;
}

.aspect-ratio {
    aspect-ratio: 1;
}

/* *********************************************************************** RESPONSIVE MEDIA QUERY *********************************************************************** */

/* TABLET  */
@media all and (max-width: 878px) {
    
}

/* MOBILE  */
@media all and (max-width: 639px) {
    
}

/* MOBILE SM  */
@media all and (max-width: 552px) {
    
}